[submodule "platform-macos"]
	path = platform-macos
	url = ../platform-macos
[submodule "storage-macos"]
	path = storage-macos
	url = ../storage-macos
[submodule "third-macos"]
	path = third-macos
	url = ../third-macos
[submodule "tool-macos"]
	path = tool-macos
	url = ../tool-macos
[submodule "platform-posix"]
	path = platform-posix
	url = ../platform-posix
[submodule "platform-apple"]
	path = platform-apple
	url = ../platform-apple
